html, body{
    padding: 0;
    margin: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 0px;
    overflow-x: hidden;
}

.intro, #info{
    font-family:monospace;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color:black;
    color:antiquewhite;
    opacity: 80%;
    display: flex;  
    flex-direction: column;             /* flexbox container */
    align-items: center;         /* vertical centering */
    justify-content: center;     /* horizontal centering */
    text-align: center; 
    font-size: 10rem;
    cursor:pointer;
}

span {
    font-size: 2rem;
}

.hidden{
    display: none !important;
}

@media (max-width: 768px) {
    .intro, #info{
        font-size: 5rem;
    }
    span {
        font-size: 1.5rem;
    }
    .hideonmobile {
        display: none;
    }
}
