html, body{
    padding: 0;
    margin: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 0px;
}

.intro{
    font-family: cursive;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color:black;
    color:antiquewhite;
    opacity: 40%;
    display: flex;               /* flexbox container */
    align-items: center;         /* vertical centering */
    justify-content: center;     /* horizontal centering */
    text-align: center; 
    font-size: 10rem;
    cursor:pointer;
}


